
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#survey-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 4em;
}
p{
    font-size:2em;
    padding: 1em;
}

#number{
    width: 200px;
}


